/* Global */
.container {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    width: 1440px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
}

.header__logo-link {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #22202E;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__list-item {
    padding: 0 22px;
}

.header__list-link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    color: #726E8D;
    white-space: nowrap;
}

.header__icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
}

.header__icon-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__icon-link-search {
    background-image: url("../images/search.svg");
}

.header__icon-link-cart {
    background-image: url("../images/shopping--cart.svg");
}

.header__icon-link-profile {
    background-image: url("../images/user--avatar.svg");
}

/* Main */

/* Product filters */
.product-filters__title {
    font-size: 36px;
    font-weight: 300;
}

.product-filters__wrapper,
.product-filters__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-filters {
    margin: 0 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 233px;
}

.product-filters__wrapper {
    width: calc(100% - 48px);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.product-filters__container .product-filters__group {
    margin: 0 6px;
}

.product-filters__container .product-filters__group:first-child {
    margin-left: 0;
}

.product-filters__container .product-filters__group:last-child {
    margin-right: 0;
}

.product-filters__select {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: none;
    border: none;
    font-size: 16px;
}

.product-filters__label {
    font-size: 14px;
}


/* Product list */
.product-list {
    padding: 28px 80px 40px 80px;
}

.product-list__grid {
    display: grid;
    grid-template: repeat(3, 462px) / repeat(4, 305px);
    grid-gap: 20px;
    padding-bottom: 48px;
}

.product-list__product-wrapper {

}

.product-list__product-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-list__product-image {
    width: 100%;
    height: 375px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.product-list__chair-image {
    background-image: url("../images/product-4.jpg");
}

.product-list__vase-set-image {
    background-image: url("../images/product-3.jpg");
}

.product-list__vase-image {
    background-image: url("../images/product-2.jpg");
}

.product-list__lamp-image {
    background-image: url("../images/product-1.jpg");
}

.product-list__product-info {
    color: #2A254B;
}

.product-list__title {
    text-transform: capitalize;
    margin-bottom: 6px;
    line-height: 140%;
    font-weight: 400;
    font-size: 20px;
}

.product-list__price {
    line-height: 150%;
    font-size: 18px;
}

.product-list__view-btn {
    display: flex;
    justify-self: center;
    font-size: 16px;
    border: none;
    color: #2A254B;
    line-height: 150%;
    background-color: #F9F9F9;
    padding: 16px 32px;
    cursor: pointer;
    margin: 0 auto;
}

/* Sign up */
.sign-up {
    display: grid;
    grid-template: repeat(1, 521px) / repeat(2, 1fr);
}

.sign-up__image {
    margin: 0;
    background-image: url("../images/join-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.sign-up__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 71px 0 70px 49px;
}

.sign-up__info {
    color: #2A254B;
}

.sign-up__title {
    font-size: 32px;
}

.sign-up__text {
    font-size: 16px;
    line-height: 150%;
}

.sign-up__btn {
    border: none;
    background-color: #2A254B;
    color: #ffffff;
    padding: 16px 32px;
    margin-left: 23px;
    line-height: 150%;
    font-size: 16px;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #2A254B;
    color: #ffffff;
}

.footer__container {
    padding: 0 80px;
}

.footer__grid {
    display: grid;
    grid-template: repeat(1, 312px) / repeat(2, 1fr);
    border-bottom: 1px solid #4E4D93;
}

/* Navigation */
.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-right: 93px;
}

.footer__list-title {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.footer__list-item {
    margin: 12px 0;
}

.footer__list-link {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footer__map {
    margin: 0;
    display: flex;
    align-items: center;
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Info */

.footer__copyright {
    font-size: 14px;
}

.footer__icon-link {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.footer__icon-linkedin {
    background-image: url("../images/logo--linkedin.svg");
}

.footer__icon-facebook {
    background-image: url("../images/logo--facebook.svg");
}

.footer__icon-instagram {
    background-image: url("../images/logo--instagram.svg");
}

.footer__icon-skype {
    background-image: url("../images/logo--skype.svg");
}

.footer__icon-tweeter {
    background-image: url("../images/logo--twitter.svg");
}

.footer__icon-pinterest {
    background-image: url("../images/logo--pinterest.svg");
}

.footer__info-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}